<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
        </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img class="partrait" src="/img/Himalay.jpg">

        </div>
        
        {{>footer}}
        </body>
</html>